@Master['ChannelEditor']

@Section['Title']
Modbus Channel
@EndSection

@Section['Subtitle']
TCP to RTU
@EndSection

@Section['Form']
			<div class="form-group">
			<label for="config.PortName">Port Name <a id="refresh-PortName" href="#">Refresh</a></label>
			<select id="config-PortName" class="form-control" placeholder="Port Name" required>
			</select>
			</div>
			<div class="form-group">
			<label for="config.BaudRate">Serial Baud Rate</label>
			<select id="config-BaudRate" class="form-control" placeholder="Serial Baud Rate" required>
				<option value="110">110</option>
				<option value="300">300</option>
				<option value="600">600</option>
				<option value="1200">1200</option>
				<option value="2400">2400</option>
				<option value="4800">4800</option>
				<option value="9600" selected>9600</option>
				<option value="14400">14400</option>
				<option value="19200">19200</option>
				<option value="28800">28800</option>
				<option value="38400">38400</option>
				<option value="56000">56000</option>
				<option value="57600">57600</option>
				<option value="115200">115200</option>
				<option value="128000">128000</option>
				<option value="153600">153600</option>
				<option value="230400">230400</option>
				<option value="256000">256000</option>
				<option value="460800">460800</option>
				<option value="921600">921600</option>
			</select>
			</div>
			<div class="form-group">
			<label for="config.DataBits">Serial Data Bits</label>
			<select id="config-DataBits" class="form-control" placeholder="Serial Data Bits" required>
				<option value="8" selected>8</option>
				<option value="7">7</option>
				<option value="6">6</option>
				<option value="5">5</option>
			</select>
			</div>
			<div class="form-group">
			<label for="config.Parity">Serial Parity</label>
			<select id="config-Parity" class="form-control" placeholder="Serial Parity" required>
				<option value="None" selected>None</option>
				<option value="Even">Even</option>
				<option value="Mark">Mark</option>
				<option value="Odd">Odd</option>
				<option value="Space">Space</option>
			</select>
			</div>
			<div class="form-group">
			<label for="config.StopBits">Serial Stop Bits</label>
			<select id="config-StopBits" class="form-control" placeholder="Serial Stop Bits" required>
				<option value="None">None</option>
				<option value="One" selected>One</option>
				<option value="Two">Two</option>
				<option value="OnePointFive">OnePointFive</option>
			</select>
			</div>
			<div class="form-group">
			<label for="config.Handshake">Serial Handshake</label>
			<select id="config-Handshake" class="form-control" placeholder="Serial Handshake" required>
				<option value="None" selected>None</option>
				<option value="RequestToSend">RequestToSend</option>
				<option value="RequestToSendXOnXOff">RequestToSendXOnXOff</option>
				<option value="XOnXOff">XOnXOff</option>
			</select>
			</div>
			<div class="form-group">
			<label for="config.DtrEnable">Serial DTR Enable</label>
			<select id="config-DtrEnable" class="form-control" placeholder="Serial DTR Enable" required>
				<option value="false">False</option>
				<option value="true" selected>True</option>
			</select>
			</div>
@EndSection

@Section['Footer']
		<script>
		var addOption = function(id, value) {
			$("#config-" + id).append($('<option>', {value: value, text: value}));
		}
		var selectOption = function(id, value) {
			$("#config-" + id + " option").prop("selected", false);
			if (value) {
				if (!$("#config-" + id + " option[value=" + value + "]").length) addOption(id, value);
				$("#config-" + id + " option[value=" + value + "]").prop("selected", true);
			}
		}
		var refreshPortNames = function() {
			$.getJSON( "/Api/List/Modbus", function(data) {
				var selected = $("#config-PortName").val();
				if (selected && $.inArray(selected, data) < 0) data.push(selected);
				$("#config-PortName option").remove();
				data.forEach(function(d){ addOption("PortName", d); });
				selectOption("PortName", selected);
			});
		}
		var configFromString = function() {
			var config = $("input[name='config']").val();
			var parts = config.split(",");
			parts.forEach(function(part){
				var sides = part.split("=");
				var prop = sides[0];
				var value = sides[1] || "";
				selectOption(prop, value);
			});
			return config;
		}
		var configToString = function() {
			var list = [];
			$("select[id^='config-']").each(function(index, select){
				var id = $(select).attr("id");
				var prop = id.split("-")[1];
				var value = $(select).val();
				list.push(prop + "=" + value);
			});
			var config = list.join();
			$("input[name='config']").val(config);
			return config;
		}
		refreshPortNames();
		configFromString();
		$("#refresh-PortName").click(refreshPortNames);
		$("#save").click(configToString);
		</script>
@EndSection
