                <script src="/Content/Scripts/jquery-1.9.1.min.js"></script>
                <script src="/Content/Scripts/vue.min.js"></script>
                <link rel="stylesheet" href="/Content/Content/bootstrap.min.css">
                <script src="/Content/Scripts/bootstrap.min.js"></script>
                <link rel="stylesheet" href="/Content/Content/font-awesome.min.css">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Channel Manager</title>
